<!doctype html>
<html lang="en">
<head>
  {% block title %}<title>Test querysetmethods</title>{% endblock %}
</head>

<body>

{% for item in listTask1 %}
    {{ item }} <br>
{% endfor %}

{% for item in listTask2 %}
     <br> {{ item.elem }} {{ item.itog }}
{% endfor %}

<br>
{% for item in listTask3 %}
    <br> {{ item.elem }} {{ item.itog }}
{% endfor %}

<br>
{% for item in listTask4 %}
      <br> {{ item.elem }} {{ item.itog }}
{% endfor %}

<br>
{% for item in listTask5 %}
      <br> {{ item.elem }} {{ item.itog }}
{% endfor %}

</body>
</html>